body * {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
}

section {
    border: solid 1px tan;
    margin: 50px;
    width: 300px;
    padding-bottom: 25px;
}

section h2, p, button {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

section img {
    width: 100%;
}

